<div class="row">
    <div class="col s6 offset-s3">
        {{#if error}}
             <p class="alert">{{error}}</p>
        {{/if}}
        <h3>Забыли пароль?</h3>
        <form action="/auth/reset-password" method="POST">
            <div class="input-field ">
                <input id="email" type="email" name="email" class="validate" required>
                <label for="email">Email</label>
                <span class="helper-text" data-error="Введите Email"></span>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn btn-primary" type="submit">Сбросить</button>
        </form>
    </div>
</div>